{% include 'nav.html' %}
<div class="main">
{% block content %}
    

	<div class="">
		<div style="width: 400px;">
			
		
			<div class="panel panel-primary" style="margin: 20px;">
				<div class="panel-heading">ADD Gadget COMPANY NAME:</div>
				<div class="panel-body">
					<form class="form-inline" action="{{ url_for('addGadgetCompany')}}" method="POST">
						  <label for="email" class="mr-sm-2">Enter Gadget Company Name:</label>
						  <input type="text" class="form-control mb-2 mr-sm-2" name="name" placeholder="Enter Gadget Company Name" required>
						  <input type="submit" class="btn btn-primary mb-2" value="Add Company">
					</form>
				</div>
			</div>	
		</div>	
	</div>
{% endblock content %}