{% include 'nav.html' %}
<div class="main">
{% block content %}
  <!-- {% for tb in tbs_cat %}
    <a href="{{ url_for('showGadget',crid=cr.id)}}">{{Gd.name}}</a><br>
    {% endfor %} -->
    {% with messages = get_flashed_messages() %}
	    {% if messages %}
	        
	    {% endif %}
	{% endwith %}

	<div class="text-center" >
		
		<h1 style="font-family:Bradley Hand ITC;border-top:10px; color:#ff0080;"> <b>Welcome to Gadget Garage</b> </h1>
		<img style="width: 1030px; height: 480px; text-align: top; margin: 0; padding: 0; margin-top: 50px border-top:50px;" src="https://images.pexels.com/photos/325153/pexels-photo-325153.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
	</div>

    
{% endblock content %}
</div>